.wp-admin-workspaces-notices-snackbar {
	position: fixed;
	bottom: var(--wpds-dimension-padding-lg);
	right: var(--wpds-dimension-padding-lg);
	z-index: 100000;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: fit-content;
	gap: var(--wpds-dimension-gap-sm);
	pointer-events: none;
}

.wp-admin-workspaces-notices-snackbar > * {
	pointer-events: auto;
}
