.wp-admin-shell-notices-banner {
	position: fixed;
	top: var(--wpds-dimension-padding-lg);
	left: 50%;
	transform: translateX(-50%);
	z-index: 100000;
	max-width: 600px;
	width: calc(100% - 2 * var(--wpds-dimension-padding-lg));
	pointer-events: none;
}

.wp-admin-shell-notices-banner > * {
	pointer-events: auto;
}
